
@{
    ViewBag.Title = "detailBay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 col-sm-12 col-xs-12">
    <div class="clearfix"></div>
    <div class="page_news">
        <h1 class="name_news_detail">COMBO VÉ MÁY BAY VÀ KHÁCH SẠN CHO DỊP LỄ 2/9</h1>
        <div class="clearfix"></div>
        <div class="date_news_detail">
            <i class="fa fa-calendar"></i> 08/06/2018 00:00
        </div>
        <div class="des_news_detail">Có ai chuẩn bị gì cho 2/9 chưa ạ, mua từ giờ được rẻ hơn 1 nửa đấy ạ.</div>

        <div class="clearfix"></div>
        <div class="content_detail_news">
            <div data-block="true" data-editor="3tbof" data-offset-key="mj1i-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="mj1i-0-0" style="position: relative; direction: ltr; font-family: inherit;"><span style="font-size:14px;"><span data-offset-key="mj1i-0-0">- Có ai chuẩn bị gì cho 2/9 chưa ạ, mua từ giờ được rẻ hơn 1 nửa đấy chỉ từ 2.999.000/ người thôi. - Đã lễ lại còn vào cuối tuần ưng quá thể</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="7eh46-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="7eh46-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="7eh46-0-0">+ Hà Nội Đà Nẵng 30/8 - 14h25</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="65a5m-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="65a5m-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="65a5m-0-0">+ Đà Nẵng Hà Nội 2/9 - 12h45</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="2s8rp-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="2s8rp-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="2s8rp-0-0">+ Combo giá chỉ 2.999.000/ người bao gồm vé mb khứ hồi và lưu trú tại khách sạn 2* trong 4n3d</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="47lig-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="47lig-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="47lig-0-0">+ Combo giá chỉ 3.199.000/ người bao gồm vé mb khứ hồi và lưu trú tại khách sạn 3* trong 4n3d. KS có bể bơi, có buffet sáng miễn phí</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="bgb2k-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="bgb2k-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="bgb2k-0-0">+ Combo giá chỉ 3.899.000/ người bao gồm vé mb khứ hồi và lưu trú tại khách sạn 4* trong 4n3d. KS có bể bơi, có buffet sáng miễn phí</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="5g2b1-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="5g2b1-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="5g2b1-0-0">+ Hành lý: mỗi người có 7kg hành lý xách tay. Hly kí gửi giá 176.000/20kg/ chiều</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="24on6-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="24on6-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="24on6-0-0">+ trẻ em dưới 2t giá 350.000/ người </span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="e4n0f-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="e4n0f-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="e4n0f-0-0">+ trẻ em trên 2t giá 2.250.000/ người</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="8e8kj-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="8e8kj-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="8e8kj-0-0">+ Khách sạn xếp 2 người/phòng. Trường hợp lẻ người sẽ ở 3ng/phòng. Trẻ em chỉ tính tiền vé máy bay, không tính tiền ks</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="23qq0-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="23qq0-0-0" style="position: relative; direction: ltr; font-family: inherit; margin-left: 40px;"><span style="font-size:14px;"><span data-offset-key="23qq0-0-0">+ Giá đã bao gồm toàn bộ thuế phí.</span></span></div>
            </div>

            <div data-block="true" data-editor="3tbof" data-offset-key="9iuhn-0-0" style="font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px; white-space: pre-wrap;">
                <div class="_1mf _1mj" data-offset-key="9iuhn-0-0" style="position: relative; direction: ltr; font-family: inherit;"><span style="font-size:14px;"><span data-offset-key="9iuhn-0-0">KHÁCH BOOK COMBO VUI LÒNG CALL 0978.602.893</span></span></div>
            </div>

            <div class="clearfix clearfix-20"></div>
            <div class="share_news_dt"><div class="fb-comments" data-href="http://viettour.com.vn/combo-ve-may-bay-va-khach-san-cho-dip-le-2-9.html" data-width="100%" data-numposts="5"></div></div>
            <div class="clearfix clearfix-10"></div>
        </div>

        <h2 class="title_news2">Tin du lịch mới đăng:</h2>
        <div class="clearfix"></div>
        <ul class="list_news_newlq">
        </ul>

        <div class="clearfix clearfix-30"></div>
    </div>
    <div class="clearfix clearfix-30"></div>
</div>
