
@{
    ViewBag.Title = "maybay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 col-sm-12 col-xs-12">
    <div class="clearfix"></div>
    <div class="page_news">
        <ul class="back_link">
            <li><a href="@Url.Action("TrangChu","Home")">Trang chủ</a></li>
            <li><a href="">Đặt vé máy bay</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="list_news_cate">
            <div class="box_news_cate">
                <a href="#" class="img_news_cate"><img class="w_100" src="~/resource/upload/img/2_1.jpg" alt="COMBO VÉ MÁY BAY VÀ KHÁCH SẠN CHO DỊP LỄ 2/9"></a>
                <div class="sub_news_cate">
                    <h3 class="name_news_cate"><a href="#">COMBO VÉ MÁY BAY VÀ KHÁCH SẠN CHO DỊP LỄ 2/9</a></h3>
                    <div class="clearfix"></div>
                    <div class="des_news_cate">
                        Có ai chuẩn bị gì cho 2/9 chưa ạ, mua từ giờ được rẻ hơn 1 nửa đấy ạ.
                    </div>
                    <div class="date_news_cate">
                        <a href="@Url.Action("detailBay","Mbay")">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>

    <nav class="custom-pagination">
    </nav>

    <div class="clearfix clearfix-30"></div>
</div>

