<div class="col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs" id="demo">
    <form class="box_searh_s" action="@Url.Action("TimKiem","Home")" method="get">
        <div class="input-group">

            <input type="text" name="key" class="form-control" placeholder="Nhập tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
        <!-- /input-group -->
    </form>
    <form class="form_search_tour">
        <div class="search_tour">
            <ul class="ul_lv1_searcht">
                <li>
                    <h3 class="tit_tls">Các Loại hình tour</h3>
                    <ul>
                        <div class="sub_tit_tls">TOUR TRONG NƯỚC</div>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-ha-long-cat-ba-2.html" title="Du Lịch Hạ Long &Cát Bà">Du Lịch Hạ Long &Cát Bà</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-sam-son-2.html" title="Du Lịch Sầm Sơn">Du Lịch Sầm Sơn</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-nha-trang-2.html" title="Du Lịch Nha trang">Du Lịch Nha trang</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-sapa-dong-tay-bac-2.html" title="Du Lịch Sapa & Đông Tây Bắc">Du Lịch Sapa & Đông Tây Bắc</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-quang-binh-2.html" title="Du Lịch Quảng Bình">Du Lịch Quảng Bình</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-phu-quoc-2.html" title="Du Lịch Phú Quốc">Du Lịch Phú Quốc</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-hue-da-nang-hoi-an-2.html" title="Du Lịch Huế, Đà Nắng, Hội An">Du Lịch Huế, Đà Nắng, Hội An</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-da-lat-tay-nguyen-2.html" title="Du Lịch Đà Lạt, Tây Nguyên">Du Lịch Đà Lạt, Tây Nguyên</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-mui-ne-phan-thiet-2.html" title="Du Lịch Mũi Né, Phan Thiết">Du Lịch Mũi Né, Phan Thiết</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-hoi-an-2.html" title="Du Lịch Hội An">Du Lịch Hội An</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-moc-chau-2.html" title="Du Lịch Mộc Châu">Du Lịch Mộc Châu</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-ha-giang-2.html" title="Du Lịch Hà Giang">Du Lịch Hà Giang</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-le-hoi-2.html" title="Du Lịch Lễ Hội">Du Lịch Lễ Hội</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-mien-tay-2.html" title="Du Lịch Miền Tây">Du Lịch Miền Tây</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-con-dao-vung-tau-2.html" title="Du Lịch Côn Đảo, Vũng Tàu">Du Lịch Côn Đảo, Vũng Tàu</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-quy-nhon-2.html" title="Du Lịch Quy Nhơn">Du Lịch Quy Nhơn</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-cao-bang-2.html" title="Du Lịch Cao Bằng">Du Lịch Cao Bằng</a></label>
                        </li>
                        <div class="sub_tit_tls">TOUR NƯỚC NGOÀI</div>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-an-do-2.html" title="Du Lịch Ấn Độ">Du Lịch Ấn Độ</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-brunei-2.html" title="Du Lịch Brunei">Du Lịch Brunei</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-campuchia-2.html" title="Du Lịch Campuchia">Du Lịch Campuchia</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-chau-au-2.html" title="Du Lịch Châu Âu">Du Lịch Châu Âu</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-dubai-2.html" title="Du Lịch Dubai">Du Lịch Dubai</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-dai-loan-2.html" title="Du Lịch Đài Loan">Du Lịch Đài Loan</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-han-quoc-2.html" title="Du Lịch Hàn Quốc">Du Lịch Hàn Quốc</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-hong-kong-2.html" title="Du Lịch Hong Kong">Du Lịch Hong Kong</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-indonesia-2.html" title="Du Lịch Indonesia">Du Lịch Indonesia</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-lao-2.html" title="Du Lịch Lào">Du Lịch Lào</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-malaysia-2.html" title="Du Lịch Malaysia">Du Lịch Malaysia</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-my-2.html" title="Du Lịch Mỹ">Du Lịch Mỹ</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-myanmar-2.html" title="Du Lịch Myanmar">Du Lịch Myanmar</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-maldives-2.html" title="Du Lịch Maldives">Du Lịch Maldives</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-nam-phi-2.html" title="Du Lịch Nam Phi">Du Lịch Nam Phi</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-nga-2.html" title="Du Lịch Nga">Du Lịch Nga</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-nhat-ban-2.html" title="Du Lịch Nhật Bản">Du Lịch Nhật Bản</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-philippines-2.html" title="Du Lịch Philippines">Du Lịch Philippines</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-singapore-2.html" title="Du Lịch Singapore">Du Lịch Singapore</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-thai-lan-2.html" title="Du Lịch Thái Lan">Du Lịch Thái Lan</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-trung-quoc-2.html" title="Du Lịch Trung Quốc">Du Lịch Trung Quốc</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-uc-2.html" title="Du Lịch Úc">Du Lịch Úc</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-chua-benh-2.html" title="Du Lịch Chữa Bệnh">Du Lịch Chữa Bệnh</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-canada-2.html" title="Du Lịch Canada">Du Lịch Canada</a></label>
                        </li>
                        <li>
                            <label><a style="color: #ffffff" href="du-lich-trieu-tien-2.html" title="Du Lịch Triều Tiên">Du Lịch Triều Tiên</a></label>
                        </li>
                    </ul>


                </li>
            </ul>
        </div>
    </form>
    <div class="clearfix clearfix-20"></div>
    <div class="sb_widget ">
        <h2 class="tit_right_sp">HỖ TRỢ TRỰC TUYẾN</h2>
        <div class="clearfix"></div>
        <div class="sp_right_ct">
            <div class="hd_sp_right">
                <p>
                    <label>Hà Nội:</label><span>0904 639 966 </span>
                </p>
                <p>
                    <label>24/24:</label><span>024 6291 9588 </span>
                </p>
            </div>
        </div>
    </div>
    <div style="color: #eef2f5;">
        <a href="https://doanhnhanplus.online/" style="font-size: 0.1px;">Tin tức doanh nhân</a>
    </div>
    <div style="color: #eef2f5;">
        <a href="https://doanhnhanplus.online/" style="font-size: 0.1px;">Đọc Báo doanh nhân</a>
    </div>
    <div class="sb_widget ">
        <h2 class="tit_right_sp">TOUR KHUYẾN MÃI</h2>
        <div class="clearfix"></div>
        <div class="list_km_right">
            <ul class="tourkm">
                <li>
                    <div class="img">
                        <a class="readmore" href="du-lich-lao-paksan-vien-chan-luong-prabang-xieng-khoang.html">
                            <img width="150" height="150" src="~/resource/upload/images/1.jpg" class="" alt="DU LỊCH LÀO: PAKSAN - VIÊN CHĂN - LUÔNG PRABANG - XIÊNG KHOẢNG">
                        </a>
                    </div>
                    <div class="info">
                        <a class="readmore" title="DU LỊCH LÀO: PAKSAN - VIÊN CHĂN - LUÔNG PRABANG - XIÊNG KHOẢNG" href="du-lich-lao-paksan-vien-chan-luong-prabang-xieng-khoang.html">DU LỊCH LÀO: PAKSAN - VIÊN CHĂN - LUÔNG PRABANG - XIÊNG KHOẢNG</a>
                        <p class="timedi">6 NGÀY 5 ĐÊM</p>
                        <p class="gia">9,490,000 VND</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a class="readmore" href="ha-noi-dao-bali-ha-noi-4n3d-bay-vna.html">
                            <img width="150" height="150" src="~/resource/upload/images/2.jpg" class="" alt="HÀ NỘI - ĐẢO BALI - HÀ NỘI (4N3D BAY VNA)">
                        </a>
                    </div>
                    <div class="info">
                        <a class="readmore" title="HÀ NỘI - ĐẢO BALI - HÀ NỘI (4N3D BAY VNA)" href="ha-noi-dao-bali-ha-noi-4n3d-bay-vna.html">HÀ NỘI - ĐẢO BALI - HÀ NỘI (4N3D BAY VNA)</a>
                        <p class="timedi">4 NGÀY 3 ĐÊM</p>
                        <p class="gia">10,990,000 VND</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a class="readmore" href="can-tho-soc-trang-bac-lieu-ca-mau-dat-mui-chau-doc-can-tho.html">
                            <img width="150" height="150" src="~/resource/upload/images/3.jpg" class="" alt="CẦN THƠ - SÓC TRĂNG - BẠC LIÊU - CÀ MAU - ĐẤT MŨI - CHÂU ĐỐC - CẦN THƠ">
                        </a>
                    </div>
                    <div class="info">
                        <a class="readmore" title="CẦN THƠ - SÓC TRĂNG - BẠC LIÊU - CÀ MAU - ĐẤT MŨI - CHÂU ĐỐC - CẦN THƠ" href="can-tho-soc-trang-bac-lieu-ca-mau-dat-mui-chau-doc-can-tho.html">CẦN THƠ - SÓC TRĂNG - BẠC LIÊU - CÀ MAU - ĐẤT MŨI - CHÂU ĐỐC - CẦN THƠ</a>
                        <p class="timedi">4 NGÀY 3 ĐÊM</p>
                        <p class="gia">6,590,000 VND</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a class="readmore" href="can-tho-soc-trang-bac-lieu-ca-mau-dat-mui-chau-doc-can-tho.html">
                            <img width="150" height="150" src="~/resource/upload/images/4.jpg" class="" alt="CẦN THƠ - SÓC TRĂNG - BẠC LIÊU - CÀ MAU - ĐẤT MŨI - CHÂU ĐỐC - CẦN THƠ">
                        </a>
                    </div>
                    <div class="info">
                        <a class="readmore" title="KHÁM PHÁ CÁC TIỂU VƯƠNG QUỐC Ả RẬP: DUBAI - SAFARI - ABUDHABI" href="can-tho-soc-trang-bac-lieu-ca-mau-dat-mui-chau-doc-can-tho.html">KHÁM PHÁ CÁC TIỂU VƯƠNG QUỐC Ả RẬP: DUBAI - SAFARI - ABUDHABI</a>
                        <p class="timedi">6 NGÀY 5 ĐÊM</p>
                        <p class="gia">24,900,000 VND</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a class="readmore" href="can-tho-soc-trang-bac-lieu-ca-mau-dat-mui-chau-doc-can-tho.html">
                            <img width="150" height="150" src="~/resource/upload/images/5.jpg" class="" alt="CẦN THƠ - SÓC TRĂNG - BẠC LIÊU - CÀ MAU - ĐẤT MŨI - CHÂU ĐỐC - CẦN THƠ">
                        </a>
                    </div>
                    <div class="info">
                        <a class="readmore" title="DU LỊCH TRUNG QUỐC: CÔN MINH - LỆ GIANG - SHANGRI LA ĐƯỜNG BỘ" href="can-tho-soc-trang-bac-lieu-ca-mau-dat-mui-chau-doc-can-tho.html">DU LỊCH TRUNG QUỐC: CÔN MINH - LỆ GIANG - SHANGRI LA ĐƯỜNG BỘ</a>
                        <p class="timedi">6 NGÀY 5 ĐÊM</p>
                        <p class="gia">14,990,000 VND</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
