<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>

<div class="content_hotel_detail">




    <ul class="nav nav-tabs nav_tabs_hotel_detail">
        <li class="active"><a data-toggle="tab" href="#tab_thongtin" aria-expanded="true">Thông tin</a></li>
        <li class=""><a data-toggle="tab" href="#tab_dichvu" aria-expanded="false">Dịch vụ</a></li>
        <li class=""><a data-toggle="tab" href="#tab_banggia" aria-expanded="false">Bảng giá</a></li>
        <li class=""><a data-toggle="tab" href="#tab_hinhanh" aria-expanded="false">Hình ảnh</a></li>
        <li class=""><a data-toggle="tab" href="#tab_datphong" aria-expanded="false">Đặt phòng</a></li>
    </ul>

    <div class="tab-content tab_detail_hotel">
        <div id="tab_thongtin" class="tab-pane fade active in">
            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Khách sạn Silk Path</span>&nbsp;Hà Nội cách sân bay Nội Bài 50 phút đi xe, và nằm ngay khu phố cổ Hà Nội.</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Từ&nbsp;<span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">khách sạn Silk Path</span>&nbsp;Hà Nội, quý khách sẽ được thoải mái dạo bộ qua các con phố cổ kính nổi tiếng nơi đây, 36 con phố với vô số các cửa hàng lưu niệm và thời trang, các nhà hàng bình dân và cao cấp, cũng như rất dễ dàng tiếp cận đến các điểm tham quan như Hồ Hoàn Kiếm, Nhà múa rối Nước Thăng Long, Quốc Tử Giám ...</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Khách sạn Silk Path</span>&nbsp;Hà Nội có 106 phòng với các thiết bị hiện đại tiện ích như; thang máy, nhà hàng, quán bar, phòng tập, phòng tắm hơi và phòng khách sạn được trang bị điều hòa, tivi, bồn tắm, internet và nhiều tiện nghi khác.</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Với vị trí nổi trội tại phố Hàng Bông - khu trung tâm mua sắm và du lịch của Hà nội,&nbsp;<span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">khách sạn Silk Path</span>&nbsp;Hà Nội sẽ mang đến sự tiện nghi thoải mái kết nối du khách với không gian quyến rũ mê hoặc của nền văn hoá Á Đông. Với phong cách thiết kế và bài trí sang trọng</p>

            <p style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Khách sạn Silk Path Hà Nội&nbsp;</span>được trang bị đầy đủ tiện nghi hiện đại cùng với sự phục vụ nhiệt tình, chu đáo bởi đội ngũ nhân viên chuyên nghiệp, sẽ mang đến cảm giác thân thiện và tiện ích bậc nhất cho tất cả du khách.</p>
        </div>
        <div id="tab_dichvu" class="tab-pane fade">
            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Bao gồm:</span></p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Nước uống và giỏ trái cây chào mừng khi nhận phòng</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Bữa sáng buffet với những đêm nghỉ tại khách sạn</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Trà và cà phê tự pha trong phòng</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">02 chai nước/ ngày đặt trong phòng</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Sử dụng miễn phí bể bơi, bể sục jacuzzi, sauna và phòng tập thể thao</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Miễn phí internet và wifi trong các khu vực công cộng của khách sạn</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Không bao gồm:</span></p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Các chi phí cá nhân phát sinh ngoài chương trình khuyến mãi</p>

            <div align="center" style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: inherit; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">
                <hr align="center" noshade="noshade" size="2" style="box-sizing: content-box; height: 0px; margin-top: 20px; margin-bottom: 0px; border-top-color: rgb(238, 238, 238);" width="100%">
            </div>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">
                <span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">ĐIỀU KIỆN ÁP DỤNG</span><br style="box-sizing: border-box;">
                <span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Hạn khuyến mại: Đến hết ngày 31/12/2014.</span>
            </p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Áp dụng cho khách Việt&nbsp;Nam.</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Áp dụng cho cả cuối tuần và các ngày lễ tết (có phụ thu)</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Thời gian check in: 14h00 và check out: 12h00</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Thủ tục đặt/nhận/hủy phòng:</span></p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Trường hợp thay đổi lịch nghỉ dưỡng đã đặt, khách hàng phải thông báo trước 08 ngày (và không giải quyết quá 2 lần thay đổi).</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Thời gian thông báo hủy phòng:</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">- Trước 05 ngày kể từ ngày check-in sẽ mất 100% một đêm tiền phòng</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">- Trước 06 –08 ngày kể từ ngày check-in sẽ mất 50% một đêm tiền phòng</p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Quy định phụ thu:</span></p>

            <p style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Quy định phụ thu vé trẻ em: vui lòng liên hệ để biết chi tiết</p>

            <p style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Giường phụ: phụ thu 540.000 đồng/ giường, mỗi phòng chỉ được thêm 01 giường</p>
        </div>
        <div id="tab_banggia" class="tab-pane fade">
            <table border="0" cellpadding="5" cellspacing="0" style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: inherit; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);" width="100%">
                <tbody style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                    <tr style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                        <td bgcolor="#f8eee9" style="box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid;" width="36%">
                            <div align="center" style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: arial, helvetica, sans-serif; vertical-align: baseline;"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Loại phòng</span></span></span></div>
                        </td>
                        <td bgcolor="#f8eee9" style="box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid;" width="17%">
                            <div align="center" style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: arial, helvetica, sans-serif; vertical-align: baseline;"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Phòng dành cho</span></span></span></div>
                        </td>
                        <td bgcolor="#f8eee9" style="box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid;" width="18%">
                            <div align="center" style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: arial, helvetica, sans-serif; vertical-align: baseline;"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Số phòng cần đặt</span></span></span></div>
                        </td>
                        <td bgcolor="#f8eee9" style="box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid;" width="29%">
                            <div align="center" style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: arial, helvetica, sans-serif; vertical-align: baseline;"><span style="box-sizing: border-box; font-weight: 700; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">Giá phòng khách sạn cho 1 đêm (VND)</span></span></span></div>
                        </td>
                    </tr>
                    <tr style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                        <td style="box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid;">
                            <div align="left" style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: bold; font-stretch: inherit; font-size: small; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: arial, helvetica, sans-serif; vertical-align: baseline;">Deluxe</span></span></div>
                        </td>
                        <td style="box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid;">
                            <div align="center" style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: arial, helvetica, sans-serif; vertical-align: baseline;">2 người</span></span></div>
                        </td>
                        <td style="box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid;">
                            <div align="center" style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">&nbsp;</div>
                        </td>
                        <td align="center" style="box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid;">
                            <div id="gia_tien_225" style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: bold; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: arial, helvetica, sans-serif; vertical-align: baseline;">2.050.000</span></span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="tab_hinhanh" class="tab-pane fade">

        </div>
        <div id="tab_datphong" class="tab-pane fade">
            <div class="bookroom-form">
                <div class="vc_row-fluid">
                    <div class="main_booking booktour-form">

                        <div class="vc_row-fluid">
                            <div class="note"></div>
                            <h2>Thông tin khách hàng</h2>

                            <form method="POST" action="" id="form_validation">
                                <input type="hidden" name="name_tour" value="KHÁCH SẠN SILK PATH">
                                <div class="vc_span12 wpb_column vc_column_container">
                                    <div class="vc_span3 wpb_column vc_column_container">
                                        <span>Tên và tên</span>
                                    </div>
                                    <div class="vc_span9 wpb_column vc_column_container">
                                        <input type="text" name="ten" class="ten" value="">
                                        <div id="widget-ten" data-notify-type="success" data-notify-msg=""></div>
                                    </div>
                                </div>
                                <div class="vc_span12 wpb_column vc_column_container">
                                    <div class="vc_span3 wpb_column vc_column_container">
                                        <span>Địa chỉ</span>
                                    </div>
                                    <div class="vc_span9 wpb_column vc_column_container">
                                        <input type="text" name="diachi" class="diachi" value="">
                                    </div>
                                </div>
                                <div class="vc_span12 wpb_column vc_column_container">
                                    <div class="vc_span3 wpb_column vc_column_container">
                                        <span>Email</span>
                                    </div>
                                    <div class="vc_span9 wpb_column vc_column_container">
                                        <input type="text" name="email" id="newsletter-email-3" class="email" value="">
                                    </div>
                                    <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
                                </div>
                                <div class="vc_span12 wpb_column vc_column_container">
                                    <div class="vc_span3 wpb_column vc_column_container">
                                        <span>Điện thoại</span>
                                    </div>
                                    <div class="vc_span9 wpb_column vc_column_container">
                                        <input type="text" name="phone" class="phone" value="">
                                    </div>
                                </div>

                                <div class="vc_span12 wpb_column vc_column_container">
                                    <div class="vc_span3 wpb_column vc_column_container">
                                    </div>
                                    <div class="vc_span9 wpb_column vc_column_container">
                                        <div class="clickcheck">
                                            <button type="button" class="btn btn-danger btnregistertrial">
                                                <i class="fa fa-paper-plane-o"></i>&nbsp;Đặt phòng
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="clearfix clearfix-25"></div>
    <h2 class="tit_home"><span class="txt_tit_home txt_tit_hotel_dt">DỊCH VỤ KHÁCH SẠN - ĂN UỐNG</span></h2>
    <div class="clearfix"></div>
    <div class="list_hotel_detail_lq">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box_hotel_detail_lq">
                    <a href="http://viettour.com.vn/khach-san-thang-long-opera-ha-noi.html" class="img_hotel_detail_lq">
                        <img src="http://viettour.com.vn/upload/img/hotels/04052017/8b7805361805874bcdfdf5df95fecde3.jpg" alt="KHÁCH SẠN THĂNG LONG OPERA HÀ NỘI ">
                    </a>
                    <div class="sub_hotel_detail_lq">
                        <h3 class="name_hotel_detail_lq">
                            <a href="http://viettour.com.vn/khach-san-thang-long-opera-ha-noi.html">KHÁCH SẠN THĂNG LONG OPERA HÀ NỘI </a>
                        </h3>
                        <div class="clearfix"></div>
                        <div class="des_hotel_detail_lq">
                            <p color:="" open="" style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: 20px; font-family: " vertical-align:="">Địa chỉ: Số 1C, Tông Đản, Q. Hoàn Kiếm</p>

                            <p color:="" open="" style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: 20px; font-family: " vertical-align:="">Loại phòng: Innova Superior</p>

                            <p color:="" open="" style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: 20px; font-family: " vertical-align:="">Phòng dành cho: 2 người</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box_hotel_detail_lq">
                    <a href="http://viettour.com.vn/khach-san-chalcedony-ha-noi.html" class="img_hotel_detail_lq">
                        <img src="http://viettour.com.vn/upload/img/hotels/04052017/1ea0c2adcf97903182c8315ca7daeb0c.jpg" alt="KHÁCH SẠN CHALCEDONY HÀ NỘI ">
                    </a>
                    <div class="sub_hotel_detail_lq">
                        <h3 class="name_hotel_detail_lq">
                            <a href="http://viettour.com.vn/khach-san-chalcedony-ha-noi.html">KHÁCH SẠN CHALCEDONY HÀ NỘI </a>
                        </h3>
                        <div class="clearfix"></div>
                        <div class="des_hotel_detail_lq">
                            <p style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: 20px; font-family: &quot;Open Sans&quot;; vertical-align: baseline; color: rgb(49, 54, 76);">Địa chỉ: 04 Nguyễn Trường Tộ, Q. Ba Đình</p>

                            <p style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: 20px; font-family: &quot;Open Sans&quot;; vertical-align: baseline; color: rgb(49, 54, 76);">Loại phòng: Superior</p>

                            <p style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: 20px; font-family: &quot;Open Sans&quot;; vertical-align: baseline; color: rgb(49, 54, 76);">Phòng dành cho: 1 người</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box_hotel_detail_lq">
                    <a href="http://viettour.com.vn/khach-san-intercontinental-hanoi.html" class="img_hotel_detail_lq">
                        <img src="http://viettour.com.vn/upload/img/hotels/20052017/f6178c51b2a058799208394196f99b41.jpg" alt="KHÁCH SẠN INTERCONTINENTAL HANOI ">
                    </a>
                    <div class="sub_hotel_detail_lq">
                        <h3 class="name_hotel_detail_lq">
                            <a href="http://viettour.com.vn/khach-san-intercontinental-hanoi.html">KHÁCH SẠN INTERCONTINENTAL HANOI </a>
                        </h3>
                        <div class="clearfix"></div>
                        <div class="des_hotel_detail_lq">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box_hotel_detail_lq">
                    <a href="http://viettour.com.vn/khach-san-sofitel-legend-metropole-ha-noi.html" class="img_hotel_detail_lq">
                        <img src="http://viettour.com.vn/upload/img/hotels/20052017/f690a53cbe368b3134b928a11a45cb00.jpg" alt="KHÁCH SẠN SOFITEL LEGEND METROPOLE HÀ NỘI ">
                    </a>
                    <div class="sub_hotel_detail_lq">
                        <h3 class="name_hotel_detail_lq">
                            <a href="http://viettour.com.vn/khach-san-sofitel-legend-metropole-ha-noi.html">KHÁCH SẠN SOFITEL LEGEND METROPOLE HÀ NỘI </a>
                        </h3>
                        <div class="clearfix"></div>
                        <div class="des_hotel_detail_lq">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box_hotel_detail_lq">
                    <a href="http://viettour.com.vn/khach-san-grand-plaza-ha-noi.html" class="img_hotel_detail_lq">
                        <img src="http://viettour.com.vn/upload/img/hotels/20052017/7ad626eca688253f42feca4bbfb508ef.jpg" alt="KHÁCH SẠN GRAND PLAZA HÀ NỘI ">
                    </a>
                    <div class="sub_hotel_detail_lq">
                        <h3 class="name_hotel_detail_lq">
                            <a href="http://viettour.com.vn/khach-san-grand-plaza-ha-noi.html">KHÁCH SẠN GRAND PLAZA HÀ NỘI </a>
                        </h3>
                        <div class="clearfix"></div>
                        <div class="des_hotel_detail_lq">
                            <p style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Địa chỉ: Số 360, Phố Kim Mã, Q. Ba Đình, Hà Nội</p>

                            <p style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Loại phòng: Deluxe</p>

                            <p style="box-sizing: border-box; margin: 0px; padding: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 15px; line-height: 20px; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline; color: rgb(0, 0, 0);">Phòng dành cho: 1 người</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

