@model WebsiteRapChieuPhim.Models.admin
@{ Layout = null; }

<link href="~/resource/assets/css/front_end/bootstrap.min.css" rel="stylesheet" />
<link href="~/resource/assets/css/front_end/font-awesome.css" rel="stylesheet" />
<link href="~/resource/assets/css/front_end/menu-2.css" rel="stylesheet" />
<link href="~/resource/assets/css/front_end/owl.carousel.css" rel="stylesheet" />
<link href="~/resource/assets/css/front_end/owl.theme.css" rel="stylesheet" />
<link href="~/resource/assets/css/front_end/setmedia.css" rel="stylesheet" />
<link href="~/resource/assets/css/front_end/style00.css" rel="stylesheet" />
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>150</h3>

            <p>New Orders</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>