
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="" method="post" enctype="multipart/form-data" id="contact">
    <div class="content">
        <div style="display: inline-block; width: 100%;">
            <!--Tên Công Ty :  --><b>Viettour Media JSC| Chuyên cung cấp các tour trong và ngoài nước! </b><br><br>
            <p><strong><span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: arial, helvetica, sans-serif;">Văn phòng GD:&nbsp;</span></span></strong>Tầng 8 Tòa Nhà LICOGI 12&nbsp;-&nbsp;<span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: arial, helvetica, sans-serif;">Số 21 Phố Đại Từ, P.Đại Kim, Q.Hoàng Mai, TP.Hà Nội</span></span></p>

            <p><span style="font-size:13px;"><span style="color:#000000;"><span style="font-family:arial,helvetica,sans-serif;"><b>Tel: </b>024 6291 9588 - <b>Fax:</b> 04 62737805</span></span></span></p>

            <p><span style="font-size:13px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color:#000000;"><b>Email:&nbsp;</b></span><a href="" target="_blank"><span style="color:#000000;">info@viettour.com.vn</span></a></span></span></p>

            <p><span style="font-size:13px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color:#000000;"><b>Website:</b> </span><a href="" target="_blank"><span style="color:#000000;">www.viettour.com.vn&nbsp;</span></a><span style="color:#000000;">, </span><a href="http://visa.viettour.com.vn"><span style="color:#000000;">visa.viettour.com.vn&nbsp;</span></a></span></span></p>
            <span style="font-size:13px;"><span style="color:#000000;"><strong>MST</strong>: 0108679852 </span></span>

            <p><span style="font-size:13px;"><span style="color:#000000;">Giấy phép kinh doanh lữ hành quốc tế số: 01-1350 /2019 /TCDL-GP LHQT&nbsp;</span></span></p>
            <script id="autoAdsMaxLead-widget-script" src="https://cdn.autoads.asia/scripts/autoads-maxlead-widget.js?business_id=1E44876FA34540E887608C52CDC514D5" type="text/javascript" charset="UTF-8" async=""></script> <!--Start of Tawk.to Script-->
            <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5d8ac572db28311764d5b674/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
            </script> <!--End of Tawk.to Script--> <!-- Load Facebook SDK for JavaScript -->

            <div id="fb-root">&nbsp;</div>
            <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v4.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script> <!-- Your customer chat code -->

            <div attribution="setup_tool" class="fb-customerchat" logged_in_greeting="Xin chào! Viettour có thể giúp gì cho bạn?" logged_out_greeting="Xin chào! Viettour có thể giúp gì cho bạn?" page_id="500009410063846">&nbsp;</div>

        </div>
    </div>
    <div class="content">
        <table class="lienhe" width="100%">
            <tbody>
                <tr>
                    <td>
                        Họ Và Tên<span style="color:#FF0000"> (*)</span>:<br>
                        <input size="" type="text" name="Username" value="">
                    </td>
                </tr>

                <tr>
                    <td>
                        Tên Đơn Vị :<br>
                        <input size="" type="text" name="company" value="">

                    </td>
                </tr>

                <tr>
                    <td>
                        Địa Chỉ<span style="color:#FF0000"> (*)</span>:<br>
                        <input size="" type="text" name="Subject" value="">
                    </td>
                </tr>


                <tr>
                    <td>
                        Tỉnh :<br>
                        <input size="" type="text" name="city" value="">

                    </td>
                </tr>

                <tr>
                    <td>
                        Số Điện Thoại<span style="color:#FF0000"> (*)</span> :<br>
                        <input size="" type="text" name="Phone" value="">

                    </td>
                </tr>

                <tr>
                    <td>
                        Số Di Động :<br>
                        <input size="" type="text" name="mobile" value="">
                    </td>
                </tr>

                <tr>
                    <td>
                        Số Fax :<br>
                        <input size="" type="text" name="fax1" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        E-Mail <span style="color:#FF0000"> (*)</span>:<br>
                        <input size="" type="text" name="Email1" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        Nội Dung :<br>
                        <textarea name="Text" style="width: 99%;" rows="10"></textarea>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="buttons">
        <table>
            <tbody>
                <tr>
                    <td align="right">  <input type="button" name="sendcontact" class="button" id="submit" value="Gửi"></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
