
@{
    ViewBag.Title = "thanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 col-sm-12 col-xs-12" style="width:100%">
    <div class="clearfix"></div>
    <div class="page_news">
        <h1 class="name_news_detail">THANH TOÁN</h1>

        <div class="clearfix"></div>
        <div class="date_news_detail">
            <i class="fa fa-calendar"></i>@DateTime.Today
        </div>
        <div class="des_news_detail"> </div>

        <div class="clearfix"></div>
        <div class="content_detail_news">
            <h1 class="title" style="box-sizing: border-box; padding: 0px; margin: 20px 0px 10px; font-size: 18px; font-family: Roboto, sans-serif; font-weight: bold; line-height: 1.1; color: rgb(0, 0, 0);">Quy trình đặt Dịch vụ và Thanh toán</h1>

            <h5 style="box-sizing: border-box; padding: 0px; margin: 10px 0px; font-family: Roboto, sans-serif; line-height: 1.1; color: rgb(0, 0, 0); font-size: 14px;">&nbsp;</h5>

            <div class="content" style="box-sizing: border-box; padding: 0px; margin: 0px; font-family: Roboto, sans-serif; font-size: 14px;">
                <div class="content-blog" style="box-sizing: border-box; padding: 0px; margin: 0px; text-align: justify;">
                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="box-sizing: border-box; padding: 0px; margin: 0px; color: rgb(0, 51, 204);">&nbsp; </span><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp;Sau khi Quý khách đã thống nhất với bộ phận kinh doanh, nhân viên chăm sóc của Viettour về dịch vụ Quý khách lựa chọn, chúng tôi sẽ tiến hành thủ tục đặt dịch vụ và thanh toán cho Quý khách bao gồm những bước sau:&nbsp;<em style="box-sizing: border-box; padding: 0px; margin: 0px;">(Dịch vụ: Tour du lịch, khách sạn, vé máy bay, vận chuyển, visa, hộ chiếu,...)</em>&nbsp;&nbsp;</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Bước 1:</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp; &nbsp;Viettour sẽ gửi đến Quý khách 02 bộ hợp đồng dịch vụ hoặc phiếu đăng ký bao gồm: - Hợp đồng dịch vụ hoặc phiếu đăng ký - Phụ lục hợp đồng (nếu có) - Phiếu thu (theo giá trị tạm ứng trên hợp đồng)</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp; &nbsp;Phương thức:</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp;Nhân viên chuyển đến tận nơi - Chuyển phát nhanh - Scan hoặc fax gửi qua mail (đối với những trường hợp đặc biệt cần xử lý gấp, vị trí xa - hoàn thiện hồ sơ bản gốc ngay sau đó)</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Bước 2:</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp; &nbsp; Quý khách xác nhận - Ký hợp đồng - Ký phiếu thu - Ký phụ lục hợp đồng (nếu có)</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Bước 3:</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp; &nbsp;Gửi lại chúng tôi 01 bản hợp đồng dịch vụ bao gồm: - Hợp đồng dịch vụ 01 bản - Phụ lục hợp đồng (nếu có) 01 bản - Phiếu thu 01 bản</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Bước 4:</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Quý khách vui lòng Thanh toán theo quy trình ghi trên hợp đồng</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Đặt cọc</strong>&nbsp;(lần 1, lần 2,...):&nbsp;Điều kiện bắt buộc, nếu không Vé dịch vụ hay Hợp đồng dịch vụ không có giá trị.&nbsp;<em style="box-sizing: border-box; padding: 0px; margin: 0px;">Số tiền hay số lần đặt cọc được quy định trong hợp đồng.</em></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Đối với tour lẻ:</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp;- Đặt cọc 70%: Ngày ký hợp đồng</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; - Quý khách thanh toán 30% còn lại: Trước lịch khởi hành 03 - 10 ngày làm việc hoặc có kết quả visa.</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; - Nếu ngày ký hợp đồng trước lịch khởi hành 07 ngày làm việc: Quý khách vui lòng thanh toán 100% giá trị hợp đồng.</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Đối với tour đoàn:</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp;- Đặt cọc 70%: Ngày ký hợp đồng</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp;- Thanh toán 30%: Trước lịch khởi hành 07 -10 ngày làm việc&nbsp;</span></span><span style="color: rgb(0, 102, 0); font-family: Roboto, sans-serif; font-size: 14px; text-align: justify;">hoặc có kết quả visa.</span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp;- Nếu ngày ký hợp đồng trước lịch khởi hành 07 ngày làm việc: Quý khách vui lòng thanh toán 80% giá trị hợp đồng.</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Đối với dịch vụ khác: (khách sạn, vé máy bay, vận chuyển, visa, hộ chiếu,...)</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; - Thanh toán 100% khi ký hợp đồng!</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Thanh lý hợp đồng</strong></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp; &nbsp; &nbsp;Đối với tour đoàn: sau khi kết thúc chương trình tour 05 ngày làm việc. Viettour gửi đến Quý khách 02 bản Thanh lý hợp đồng với giá trị thực tế nếu có phát sinh trong tour. Quý khách xác nhận và gửi lại cho Viettour 01 bản. Quý khách thanh toán số tiền còn thiếu trong thanh lý, hợp đồng kết thúc!</span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;">&nbsp;</p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#000000;"><span style="font-size:18px;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Phương thức thanh toán:</strong></span></span></span></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">Tiền mặt:</strong>&nbsp;Quý khách đến VP của Viettour nộp tiền và nhận phiếu xác nhận!</span></span></p>

                    <p style="box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><font color="#006600"><b>Chuyển Khoản:</b></font></p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;">
                        <span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">DANH SÁCH TÀI KHOẢN</strong></span></span><br>
                        &nbsp;
                    </p>

                    <p style="color: rgb(0, 0, 0); box-sizing: border-box; padding: 0px; margin: 0px 0px 10px;"><strong style="font-family: Arial; font-size: medium;">NGÂN HÀNG TMCP&nbsp; NGOẠI THƯƠNG VIỆT NAM – VIETCOMBANK:</strong></p>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:600px;">
                        <tbody>
                            <tr>
                                <td><img alt="" src="~/resource/upload/images/chi-nhanh-vietcombank(1).png" style="width: 300px; height: 100px;"></td>
                                <td>
                                    <font face="Arial" size="3" style="color: rgb(0, 0, 0);">Chủ tài khoản: </font><strong style="color: rgb(0, 0, 0); font-family: Arial; font-size: medium;">Nguyễn Hữu Hưng</strong><br>
                                    <br>
                                    <span style="color:#000000;">
                                        <font face="Arial" size="3" style="color: rgb(0, 0, 0);">Số TK:&nbsp;</font><strong><span style="font-size:18px;">0021 0020 489 58</span></strong><br>
                                        <br>
                                        <font face="Arial" size="3" style="color: rgb(0, 0, 0);">Chi Nhánh Hà Nội</font>
                                    </span><br>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    &nbsp;

                    <hr><br>
                    <strong style="color: rgb(0, 0, 0); font-family: Arial; font-size: medium;">NGÂN HÀNG TMCP KỸ THƯƠNG VIỆT NAM –&nbsp; TECHCOMBANK:</strong>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:600px;">
                        <tbody>
                            <tr>
                                <td><img alt="" src="~/resource/upload/images/Logo_Sacombank.png" style="width: 300px; height: 136px;"></td>
                                <td>
                                    <font face="Arial" size="3" style="text-align: justify; color: rgb(0, 0, 0);">Chủ tài khoản:&nbsp;</font><strong style="text-align: justify; color: rgb(0, 0, 0); font-family: Arial; font-size: medium;">Nguyễn Hữu Hưng</strong><br style="font-family: Roboto, sans-serif; font-size: 14px; text-align: justify;">
                                    <br style="font-family: Roboto, sans-serif; font-size: 14px; text-align: justify;">
                                    <span style="color:#000000;">
                                        <font face="Arial" size="3" style="text-align: justify; color: rgb(0, 0, 0);">Số TK:&nbsp;</font><strong><span style="font-size:18px;">1902 7067 511 014</span></strong><br>
                                        <br>
                                        <font face="Arial" size="3" style="text-align: justify; color: rgb(0, 0, 0);">Chi Nhánh Đào Tấn</font>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    &nbsp;

                    <hr><br>
                    <span style="color:#000000;"><span style="font-size:18px;"><strong><span style="font-family: arial, sans-serif-light, sans-serif;">Ngân hàng thương mại cổ phần Sài Gòn Thương Tín - SACOMBANK:&nbsp;</span></strong></span></span>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:600px;">
                        <tbody>
                            <tr>
                                <td><img alt="" src="~/resource/upload/images/tcb.jpg" style="width: 300px; height: 107px;"></td>
                                <td>
                                    <font face="Arial" size="3" style="text-align: justify; color: rgb(0, 0, 0);">Chủ tài khoản:&nbsp;</font><strong style="text-align: justify; color: rgb(0, 0, 0); font-family: Arial; font-size: medium;">Nguyễn Hữu Hưng</strong><br style="font-family: Roboto, sans-serif; font-size: 14px; text-align: justify;">
                                    <br style="font-family: Roboto, sans-serif; font-size: 14px; text-align: justify;">
                                    <span style="font-family: Roboto, sans-serif; font-size: 14px; text-align: justify; color: rgb(0, 0, 0);"><font face="Arial" size="3">Số TK:&nbsp;</font></span><span style="font-size:18px;"><span style="color:#000000;"><strong>0200 3270 0358</strong></span></span><br>
                                    <br>
                                    <span style="font-family: Roboto, sans-serif; font-size: 14px; text-align: justify; color: rgb(0, 0, 0);"><font face="Arial" size="3">Chi Nhánh Ba Đình</font></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    &nbsp;

                    <hr>&nbsp;
                    <p style="box-sizing: border-box; padding: 0px; margin: 0px 0px 10px; color: rgb(0, 0, 0); font-family: Roboto, sans-serif; font-size: 14px; text-align: justify;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">&nbsp;<em style="box-sizing: border-box; padding: 0px; margin: 0px;">Sau khi chuyển khoản:</em>&nbsp;Quý khách vui lòng thông báo cho nhân viên chăm sóc hoặc người đại diện công ty để được xác nhận. Quý khách nhận xác nhận qua Mail hoặc điện thoại.</span></span></p>

                    <h3 style="box-sizing: border-box; padding: 0px; margin: 0px 0px 10px; font-family: Roboto, sans-serif; font-weight: bold; line-height: 1.1; color: rgb(249, 141, 46); font-size: 20px; text-align: justify;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">Bước 5</span></span></h3>

                    <p style="box-sizing: border-box; padding: 0px; margin: 0px 0px 10px; color: rgb(0, 0, 0); font-family: Roboto, sans-serif; font-size: 14px; text-align: justify;"><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">Quý khách sử dụng dịch vụ, phản hồi dịch vụ thông qua Mail: <span style="font-size:20px;">info@viettour.com.vn</span></span><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><span style="box-sizing: border-box; padding: 0px; margin: 0px; font-size: 20px;">&nbsp;</span>hoặc số điện thoại&nbsp;</span><span style="box-sizing: border-box; padding: 0px; margin: 0px; font-size: 20px;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">CSKH</span></span></span><span style="color:#008000;"><span style="font-size:20px;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;"> </span></span><span style="font-family: arial;">02462.690.088</span></span></span><span style="color:#006600;"><span style="box-sizing: border-box; padding: 0px; margin: 0px;">. Nếu phát sinh trường hợp Hoàn tiền. Quý khách làm theo Quy trình Hoàn tiền của chúng tôi. Hợp đồng được thanh lý khi quá trình hoàn tiền kết thúc!</span></span></p>
                </div>
            </div>

            <div style="text-align: center;"><em><strong><span style="color:#000000;"><span style="font-size:16px;">Viettour Trân Trọng cảm ơn!</span></span></strong></em></div>


        </div>



        <div class="clearfix clearfix-30"></div>
    </div>
    <div class="clearfix clearfix-30"></div>
</div>

